* {
  margin: 1%;
  background-color: rgb(108, 194, 243);
}

.minifig{
  margin:50px;
}

.pic {
  max-height: 200px;
  width: auto;
}

ul {
  list-style-type: none;
}

.big {
  font-size: 2em;
}

.owned {
  background-color: rgb(49, 174, 247);
  margin-top:44px;
  margin-bottom:74px;
}

.wish {
  margin-top:44px;
}

.want {
  background-color: rgb(162, 216, 247);
}

.yellow{
  background-color: yellow;
  padding:20px;
  border-radius: 25px;
 
}