* {
  margin: 1%;
  background-color: rgb(108, 194, 243);
}

.pic {
  max-height: 200px;
  width: auto;
}

ul {
  list-style-type: none;
}

.big {
  font-size: 2em;
}

.owned {
  background-color: rgb(49, 174, 247);
}

.want {
  background-color: rgb(162, 216, 247);
}
